@import 'base/variables';

// @media screen and (min-width: 1200px){
//   .isotope-filters-list {
//     display: flex !important;
//     flex-direction: row;
//     li{
//       margin: 0;
//     }
//   }

//   .isotope-filters-vertical .isotope-filters-list > li > a:after {
//     -webkit-transition: none !important;
//     transition: none !important;
//     height: 0 !important;
//     transform: scaleY(0);
//   }

//   .isotope-filters-vertical .isotope-filters-list > li > a.active:after {
//     transform: translateX(-1px) !important;
//     width: 1px !important;
//     height: 100% !important ;
//     transition: none !important;
//     transition: height 0.3s ease !important;
//   }

//   .isotope-filters-vertical .isotope-filters-list > li > a{
//     width: 100%;
//     margin: 0 !important;
//     padding-left: 20px;
//     padding-bottom: 0;
//   }
//   .isotope-filters-vertical .isotope-filters-list > li {
//     margin: inherit !important;
//     margin-bottom: 10px !important;
//   }

//   .isotope-filters-vertical .isotope-filters-list{
//     border-bottom: 0px;
//   } 
// }

// .sold img{
//   img::before{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     background-color: rgba($color: #FF0000, $alpha: 0.5);
//   }
// }

// .sold::before{
//   // background-color: rgba($color: #000000, $alpha: 0.6) !important;

//   z-index: 100 !important;
//   content: 'SOLD';
//   color:$primary !important;
//   font-weight: bold;
//   text-align: center;
//   position: absolute;
//   font-family: $font-family-base;
//   font-size: 0.8rem;
//   text-transform: lowercase;
//   top: 20px;
//   left: 0;  
//   background-color: white;
//   padding: 7px 20px;
// }
.custom-checkbox{
  justify-content: center;
}
// @media screen and (max-width: 1199px){
  
// }



.rd-navbar-mobile-brand{
  display: flex !important;
  justify-content: center;
  margin-left: 0 !important;
}
.rd-navbar-footer{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.rd-navbar-mobile-scroll{
  min-height: 90vh !important;
}


.isotope-filters-list li a{
  text-transform: lowercase !important;
  font-family:  $font-family-accent;
  &:not(.active){
    color: $gray-600 !important;
    font-weight: 400 !important;
  }

}
.rd-navbar-wrap span{
  // font-family: $font-family-base !important;
  font-weight: 400 !important;
  // color: black;
  user-select: none; 
}


@media screen and (max-width: 1200px) {
  .thumbnail-apollo-title{
    color: black !important;
    letter-spacing: -2px;
  }
}


.rd-navbar-nav > li > a{
    padding: 5px 10px !important;
}

.rd-navbar-nav > li > a > span, .rd-navbar-dropdown > li > a > span{
  font-family: $font-family-base !important;
  text-transform: capitalize !important;

}


.rd-navbar-dropdown > li > a{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}



.rd-navbar-toggle span, .rd-navbar-toggle span::before , .rd-navbar-toggle span::after{
  height: 2px !important;
}

.rd-navbar-toggle.active span::before {
  transform: rotate(-35deg) translateY(-1px) !important;
}
.rd-navbar-toggle.active span::after{
  // height: 3px !important;
  transform: rotate(35deg) translateY(1px)  !important;
}

@media screen and (max-width: 600px) {
  .img-container{
    width: 80% !important;
  }  
}

@media screen and (max-width: 800px) {
  .img-container{
    width: 60%;
  }  
}

// Isotope filter button
.isotope-filters-toggle{
  text-transform: lowercase !important;
  //background-color: white !important;
  //color: #464646 !important;
  font-weight: normal !important;
  font-size: 1rem;
  font-family: $font-family-accent;
  letter-spacing: 0px;
  &::after{
    //color: $primary !important;
  }
  &:focus, &:active{
    box-shadow: none !important;
    border-color: $gray-600 !important;
    color: white !important;
  }
  &.active{
    box-shadow: none;
    -webkit-box-shadow: none;
    color: white !important;
  }
  

}

.custom-checkbox {
  display: flex;
  align-items: center;


  input[disabled="disabled"] + label{
    //background-color: red !important;
    text-decoration: line-through !important;
  }

  input{
    padding: 0;
    &:checked{
      background-color: $primary !important  ;
      border: $primary !important;
    }
    &:focus{
      box-shadow: none !important;
      border-color: #c4c5ca;
    }
    
   
    
  }
  label{
    margin-left: 10px;
    margin-top: 2px;
    user-select: none;
    text-transform: lowercase !important;
    color: $gray-600 !important;
    font-size: 1rem;
  }
}



// Overflow navbar
// @media (pointer:none), (pointer:coarse) {
//   .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav-wrap{
//     height: calc(100vh - 52px) !important;
//     overflow: hidden !important;
//   }
//   .rd-navbar-footer{
//     margin-bottom: 52px !important;
//   }
//   .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav-wrap{
//     padding-bottom: 0 !important;
//     margin-bottom: 0 !important;
//   }
// }

// Back to top on mobile
#ui-to-top{
  color: white !important;
  background: $primary !important;
}


// project-detail styles
.project-detail{
  *:not(.text-dark){
    color: rgb(88, 88, 88);
  }
}


.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute !important;
  left: 50%;
  top: 50%;
}


.swiper-pagination-bullet{
  background-color: lighten($primary, 35) !important;
}

.swiper-pagination-bullet-active{
  background-color: $primary !important;
}


// Portfolio card
@media screen and (max-width: 1200px) {
  .isotope-item{
    figcaption{
      padding: 4px 10px !important;
      h3{
        font-size: 1.5rem;
        margin-top: 5px;
        line-height: 25px !important;
      }
      p{
        margin-top: 0 !important;
        margin-bottom: 5px !important;
      }
    }
  }
}


// Project-detail
.project-detail{
  @media screen and (max-width: 1200px) {
    .swiper-container{
      height: 65vh !important;
    }  
  }
  .swiper-container{
    height: 70vh !important;
  }  
}


.about-me{
  .font-accent{
    color: #696969;
  }
}
