@media screen and (min-width: 1200px) {

    /* .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav-wrap {
        width: 315px !important;
        padding: 0!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-mobile-brand {
        margin-top: 30px!important;
        margin-left: 14px!important;
        text-align: left!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .form-search-wrap {
        margin-top: 50px!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-mobile-scroll {
        padding: 0 20px!important;
        overflow-y: hidden!important;
        max-height: inherit!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-nav {
        margin-top: 90px!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .rd-navbar-megamenu {
        padding-left: 0!important;
   }
    .rd-navbar-sidebar-toggle.rd-navbar-fixed .resp-tab-item {
        display: none!important;
   }
    .swiper-slide-caption {
        padding: 0 80px!important;
   } */

    /* .rd-navbar-live-search-results .search_link p {
        display: block!important;
   } */
}
